.app__footer{
    background: var(--headfoot);
    color: var(--white);
    font-family: poppins;
    padding-top: 7vh;
    padding-bottom: 7vh;
}
small{
    color: var(--white) !important;
}
h2{
    font-weight: bolder;
}
.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.MuiSvgIcon-root{
    color: var(--buttons) !important;
    background: var(--white);
    border-radius: 999px;
}